/*==== delete button ====*/
.delete-button {
  flex-shrink: 0;
  margin: 0 0 0 20px; /*==== todo need remove this properties ====*/
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: var(--transition-default);
}
.delete-button:hover {
  box-shadow: var(--box-shadow-button);
}

.delete-button__icon {
  width: 24px;
  height: 24px;

  fill: var(--c-text-head);

  transition: var(--transition-default);
}
.delete-button:hover .delete-button__icon {
  fill: var(--c-error);
}
