/*==== text ====*/
.text {
  font-size: 16px;
  font-weight: 300;
  color: var(--c-text-main);
  line-height: 1.4;
}

/*==== buttons ====*/
.btn {
  --this-color: var(--c-button);

  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;

  color: var(--c-white);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  line-height: 0.8;

  background-color: var(--this-color);
  border-radius: 4px;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  box-shadow: var(--box-shadow-button);
  transition: var(--transition-default);
}
.btn:hover {
  --this-color: var(--c-button-dark);

  box-shadow: var(--box-shadow-button-up);
}

.btn:disabled {
  background-color: var(--c-bg-app);
  box-shadow: none;
  cursor: auto;
  pointer-events: none;
}

.btn--outline {
  color: var(--this-color);

  background-color: transparent;
  border-color: var(--this-color);
}
/*==== page head ====*/
.page-head {
  display: flex;
  align-items: flex-end;
  padding: 0 0 16px;
  margin: 0 0 18px;
  box-sizing: border-box;

  border-bottom: 1px solid var(--c-bg-app);
}
.page-head__nav {
  margin: -8px 0 18px;
  display: flex;
}

.page-head__title {
  margin: 0;

  font-size: 28px;
  font-weight: 300;
  color: var(--c-text-head);
}
.page-head__button-row {
  display: flex;
  margin-left: auto;
}
